<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

<body style="
margin: 0; 
padding: 0; 
font-family: Playfair Display, serif; 
background-color: #f2e8c4; 
display: flex; 
justify-content: center; 
align-items: center; color: #88baa3; ">
    <table style=" width: 600px;">
    <tr>
        <td style="display: flex; 
            justify-content: space-between;
            align-items: center;
            width: 700px; 
            gap: 60px;
            text-align: center;
            margin: 16px 32px;">
            <img width="150px" height="200px" src="https://i.im.ge/2024/06/23/KvzeVr.image-removebg-preview-3.png"
                alt="">
            <h1>Países que mais recebem turistas brasileiros</h1>
        </td>
    </tr>
    <tr>
        <td style="
            border-top: 1px solid #2b4e72; 
            border-bottom: 1px solid #2b4e72; 
            width: 100%; 
            display: flex; 
            justify-content: space-between; 
            align-items: center;">
            <p>Newsletter</p>
            <p>22/06</p>
        </td>
    </tr>
    <tr>
        <td style="display: flex;
        width: 100%;
        margin-top: 50px;">
          <img src="https://i.im.ge/2024/06/23/KvHwg4.4114e63ba1c90166b03c66f544c9052f-1.png" alt="">
        </td>
    </tr>
        

    </table>
</body>

</html>