<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">


<body style="
margin: 50px; 
padding: 0;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #000000;
background-color: #FFFFEA;
font-family: Josefin Slab, serif">
    <table>
        <tr>
            <td>
                <img src="https://i.im.ge/2024/06/29/VlKKXK.Nyac-logo-removebg-preview-2.png" alt="">
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <h1 style="display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -40px;">O que é um jornal online?</h1>
                <p style="font-family: 'Josefin Slab';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.05em;
            width: 614px;
            margin: 20px;">
                    Um jornal online por assinatura, também conhecido como jornal digital ou jornal paywall, é uma
                    publicação jornalística disponibilizada na internet que requer uma assinatura paga para acessar seu
                    conteúdo completo. Geralmente, esses jornais oferecem um modelo de negócio onde parte do conteúdo
                    pode
                    ser acessado gratuitamente, mas artigos mais exclusivos, análises aprofundadas, colunas de opinião e
                    outros tipos de conteúdo premium estão disponíveis apenas para assinantes pagos.
                    A principal diferença entre um jornal online por assinatura e um jornal tradicional impresso é o
                    formato
                    digital e a possibilidade de acessar o conteúdo de qualquer lugar com conexão à internet. Isso
                    permite
                    aos leitores lerem as notícias em dispositivos como computadores, tablets e smartphones, muitas
                    vezes
                    com aplicativos dedicados para uma experiência mais personalizada.</p>
                    <td><img src="https://i.im.ge/2024/06/29/VlV1VT.image-removebg-preview-5-1.png" alt=""></td>
            </td> 
        </tr>
        <tr>
            <td style="padding-left: 150px; padding-top: 100px;">
                <img src="https://i.im.ge/2024/06/29/VlVRJm.image-removebg-preview-6-1.png" alt="">
            </td>
            <td style="display: flex; align-items: center;
            justify-content: center;
            flex-direction: column; 
            padding-top: 100px;">
                <h1>Quem Somos?</h1>
                <p style="width: 400px; text-align: center;">
                    Bem-vindo ao Jornal Online! Somos uma plataforma dedicada a trazer as últimas notícias, análises profundas e insights sobre os eventos que moldam o mundo ao nosso redor. Aqui, combinamos a tradição jornalística com as mais recentes inovações digitais para oferecer uma experiência informativa única.</p>
            </td>
        </tr>
        <tr>
            <td style="display: flex; align-items: center;
            justify-content: center; 
            padding-top: 100px;">
                <h1>O Que Oferecemos:</h1>
                <img style="margin-top: -30px;
                margin-left: -40px;" src="https://i.im.ge/2024/06/29/Vlfo9F.image-1.png" alt="">
            </td>
            <td style="display: flex;
            flex-direction: column;
            margin: 30px;
            text-align: center;"
            >
                <p style="margin-top: -40px;">
                    -Notícias Atualizadas: Cobrimos uma ampla gama de tópicos, desde política e economia até cultura e ciência, sempre mantendo nossos leitores informados sobre os desenvolvimentos mais recentes.
                    <br>
                    -Análises Aprofundadas: Além das notícias do dia, oferecemos análises detalhadas que exploram o contexto por trás dos eventos, destacando suas implicações e tendências futuras.
                    <br>
                    -Opiniões Diversificadas: Valorizamos a pluralidade de opiniões e oferecemos espaço para diferentes perspectivas sobre os assuntos mais prementes da atualidade, incentivando o debate construtivo.</p>
            </td>
            <td style="padding: 30px;">
                <img width="350px" height="300px" src="https://i.im.ge/2024/06/29/VlfX8K.image-2.png" alt="">
            </td>
        </tr>
        <tr>
            <td style="display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 500px;">
                <img width="111px" height="119px" src="https://i.im.ge/2024/06/30/Vlf0qm.image-3.png" alt="">
            </td>
        </tr>


    </table>
</body>

</html>