<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
        <style>
            body {
                background-color: black;
                color: #000000;
            }
        </style>
<body style="
margin: 40px; 
padding: 0;
display: flex;
align-items: start;
justify-content: start;
border: 1px solid #000000;
font-family: Josefin Slab, serif">
    <table style="width: 600px;">
        <tr>
            <td>
                <img class="img-logo" src="https://i.im.ge/2024/07/04/VayNYG.Ana-1-removebg-preview.png" alt="">
            </td>
        </tr>
        <tr>
            <td style="padding-left: 10px;">
                <h1 style=" display: flex;
                margin-right: 100px;
                margin-top: -40px;">O que é um jornal online?</h1>
                <p style="font-family: 'Josefin Slab';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.05em;
            width: 314px;
            margin: 10px;">
                    Um jornal online por assinatura, também conhecido como jornal digital, é uma publicação jornalística
                    disponibilizada na internet que requer uma assinatura paga para acessar seu conteúdo completo.
                    Geralmente, parte do conteúdo pode ser acessado gratuitamente, mas artigos mais exclusivos, análises
                    aprofundadas, colunas de opinião e outros tipos de conteúdo premium estão disponíveis apenas para
                    assinantes pagos.
                </p>
            <td>
                <img width="200px " height="200px"
                    src="https://i.im.ge/2024/06/29/VlV1VT.image-removebg-preview-5-1.png" alt="">
            </td>
            </td>
        </tr>
        <tr>
            <td style=" padding-top: 100px; padding-left: 15px;">
                <img width="250px " height="200px"
                    src="https://i.im.ge/2024/06/29/VlVRJm.image-removebg-preview-6-1.png" alt="">
            </td>
            <td style="
            vertical-align: top;
            padding-top: 100px;
            padding-left: -70px;">
                <h1>Quem Somos?</h1>
                <p style="width: 300px; padding-right: 250px;">
                    Bem-vindo ao Jornal Online Nyac! Somos uma plataforma dedicada a trazer as últimas notícias sobre os
                    eventos do mundo ao nosso redor. Aqui, combinamos a tradição jornalística com as mais recentes
                    inovações digitais para oferecer uma experiência informativa única.</p>
            </td>
        </tr>
        <tr>
            <td style="display: flex; align-items: center;
            justify-content: center; 
            padding-top: 100px;">
                <h1 style="margin-left: -100px;">O Que Oferecemos:</h1>
                <img style="margin-top: -30px;
                margin-left: -40px;" src="https://i.im.ge/2024/06/29/Vlfo9F.image-1.png" alt="">
            </td>
            <td style="display: flex;
            flex-direction: column;
            margin: 40px;
            text-align: center;">
                <p style="margin-top: -40px; width: 400px;
                margin-left: -35px;">
                    -Notícias Atualizadas: Cobrimos uma ampla gama de tópicos, desde política e economia até cultura e
                    ciência, sempre mantendo nossos leitores informados sobre os desenvolvimentos mais recentes.
                    <br>
                    -Análises Aprofundadas: Além das notícias do dia, oferecemos análises detalhadas que exploram o
                    contexto por trás dos eventos, destacando suas implicações e tendências futuras.
                    <br>
                    -Opiniões Diversificadas: Valorizamos a pluralidade de opiniões e oferecemos espaço para diferentes
                    perspectivas sobre os assuntos mais prementes da atualidade, incentivando o debate construtivo.
                </p>
            </td>
            <td style="padding: 10px;">
                <img width="250px" height="200px" src="https://i.im.ge/2024/06/29/VlfX8K.image-2.png" alt="">
            </td>
        </tr>
        <tr>
            <td style="padding-left: 390px;">
                <img width="50px" height="60px" src="https://i.im.ge/2024/07/04/VaC154.N-1-removebg-preview.png" alt="">
            </td>
        </tr>


    </table>
</body>

</html>