@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&display=swap');

body {
    border: 1px solid #000000;
    background-color: #FFFFEA;
    margin: 45px;
    font-family: "Josefin Slab", serif;
    ;
}

.what-is-it {
    display: flex;
    margin: 35px;
    gap: 30px;
}

.align-items {
    display: flex;
    flex-direction: column;
}

.align-items h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #3B2B46;
}

.align-items p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 613px;
}

.who-we-are {
    display: flex;
    margin: 80px;
    gap: 80px;
}

.what-we-offer {
    padding: 40px;
    display: flex;
    margin: 40px;
    gap: 0px;
}

.what-we-offer img {
    margin-top: -100px;
}

.img-align {
    display: flex;
}

.img-align img {
    margin-top: -30px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFEA;
    margin-top: 100px;
    margin: 20px;
}

h2 {
    font-style: normal;
    font-weight: 100;
    line-height: 40px;
    color: #3B2B46;
}

input {
    background-color: #7A959E;
    opacity: 50%;
}

#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}

@media (max-width: 420px) {
    body {
        border: 1px solid #000000;
        margin: 20px;
        z-index: 1;
    }

    header img {
        width: 290px;
        height: 250px;
    }

    .what-is-it {
        display: flex;
        flex-direction: column;
    }

    .what-is-it img {
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 260px;
        margin-top: -570px;
        justify-content: center;
        align-items: center;
        margin-left: -55px;
    }

    .what-is-it h1 {
        z-index: 10;
        color: #1C2025;
        background: rgba(122, 149, 158, 0.75);
        border-radius: 16px;
    }

    .align-items p {
        font-size: 16px;
        width: 340px;
        display: flex;
        margin-top: 100px;
        margin-left: -30px;
    }

    .who-we-are {
        display: flex;
        flex-direction: column;
    }

    .who-we-are img {
        width: 300px;
        height: 240px;
        justify-content: center;
        align-items: center;
        margin-left: -55px;
    }

    .who-we-are h1 {
        z-index: 10;
        color: #1C2025;
        background: rgba(122, 149, 158, 0.75);
        border-radius: 16px;
        margin-top: -240px;
    }

    .who-we-are p {
        font-size: 16px;
        width: 330px;
        display: flex;
        margin-top: 100px;
        margin-left: -70px;
    }

    .what-we-offer {
        display: flex;
        flex-direction: column;
    }

    .what-we-offer img {
        width: 300px;
        height: 240px;
        justify-content: center;
        align-items: center;
        margin-left: -70px;
        margin-top: -570px;
    }

    .what-we-offer h1 {
        z-index: 10;
        color: #1C2025;
        background: rgba(122, 149, 158, 0.75);
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .what-we-offer p {
        font-size: 16px;
        width: 326px;
        display: flex;
        text-align: center;
        margin-left: -70px;
        margin-top: 100px;
    }

    .img-align img {
        display: none;
    }

    .form {
        padding-top: 350px;
        width: 50px;
        margin-left: 130px;
    }

    #mc_embed_signup {
        width: 200px;
    }
}