@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

body {
    border: 1px solid #000000;
    background-color: #FFFFEA;
    margin: 45px;
    font-family: "Josefin Slab", serif;
    ;
}

.what-is-it {
    display: flex;
    margin: 35px;
    gap: 30px;
}

.align-items {
    display: flex;
    flex-direction: column;
}

.align-items h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #3B2B46;
}

.align-items p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 613px;
}

.who-we-are {
    display: flex;
    margin: 80px;
    gap: 80px;
}

.what-we-offer {
    padding: 40px;
    display: flex;
    margin: 40px;
    gap: 0px;
}

.what-we-offer img {
    margin-top: -100px;
}

.img-align {
    display: flex;
}

.img-align img {
    margin-top: -30px;
}


